/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
.estilo-login {
	background: #1F4983;
	-moz-border-radius: 15px 55px 5px;
	-webkit-border-radius: 15px 55px 5px;
	color: #FFFFFF;
	opacity: 0.88;
}

.estilo-button-login {
  		font-size:10px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:#638cb5;
        border:0px;
        width:80px;
        height:19px;
}

.estilo-header-principal{
	
}

.estilo-backgroun-login{
	float: left;
	text-align: left;
	margin-top: 5px;
	padding: 250px;
	margin: 0;
	background: url('NewBeginningWow.jpg');
	background-repeat: no-repeat;
}

	.style-Label {
	font-size: 12pt;
	color: black;
}

.style-LabelError {
	font-size: 13pt;
	color: red;
}



.serverResponseLabelError {
	color: red;
}

